.row-vir {
    display: contents;
}
.gr {
    display: grid;
    grid-template-columns: minmax(13ch, 16ch) repeat(6, minmax(10ch, 13ch));
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.updatemenu-item-rect {
  shape-rendering: auto;
  rx: 5;
  ry: 5;
}
